#videoPage {
    padding: 0;

    @media (max-width: 800px) {
        margin-top: 80px;
    }
}
.video__view {
    .video__center {
        display: flex;
        justify-content: center;
        width: 100%;
        .video__play {
            width: 80%;
            padding-bottom: 56.2%;
            position: relative;
        }
    }

    .video__info {
        padding: 20px;
        .video__title {
            margin-left: 10px;
        }
        .video__channel {
            display: flex;
            justify-content: space-between;
            background-color: var(--black100);
            padding: 10px 30px;
            margin: 20px 0;
            border-radius: 40px;
            color: var(--white200);
            .id {
                font-weight: 800;
            }

            .count {
                span {
                    border-radius: 40px;
                    font-size: 14px;
                    margin-left: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .video__desc {
            white-space: pre-line;
        }
    }
}
